{{define "index"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" {{.IconPath}} />
    <link rel="stylesheet" href="public/main.css" />
    <title>{{.Title}}</title>
  </head>
  <body class="h-screen flex flex-col dark:bg-black dark:text-white">
    <main class="grow flex flex-col gap-4 items-center pt-12">
      <div class="flex flex-col gap-2 items-center">
        <div>
          <img {{.LogoPath}} class="h-12" />
        </div>
        <div class="text-lg font-bold">{{.AccountName}}</div>
      </div>
      <div id="login-form-error" class="text-red-600"></div>
      <form id="login-form" class="flex flex-col gap-2">
        <div class="flex flex-col gap-2">
          <div>
            <label>
              <span class="hidden">Email</span>
              <input
                type="email"
                name="email"
                placeholder="Email"
                autocomplete="email"
                class="input-basic"
                required
              />
            </label>
          </div>
          <div>
            <label>
              <span class="hidden">Password</span>
              <input
                type="password"
                name="password"
                placeholder="Password"
                autocomplete="current-password"
                class="input-basic"
                required
              />
            </label>
          </div>
          <div>
            <label class="whitespace-nowrap">
              <input type="checkbox" name="remember" />
              <span class="pl-2"> Remember me </span>
            </label>
          </div>
        </div>
        <div class="flex justify-center">
          <button id="login-form-submit-btn" type="submit" class="btn-submit">
            Login
          </button>
        </div>
      </form>
    </main>
    <footer>
      <div class="flex justify-end pb-1 px-4">
        <a href="https://syre.ai" target="_blank">
          <div class="inline-flex gap-2 items-center whitespace-nowrap">
            <img
              src="/public/logo-black-icon.svg"
              class="h-4 block dark:hidden"
            />
            <img
              src="/public/logo-white-icon.svg"
              class="h-4 hidden dark:block"
            />
            Powered by Syre
          </div>
        </a>
      </div>
    </footer>
  </body>
  <footer>
    <script>
      async function login(e) {
        e.preventDefault();

        const err_node = document.getElementById("login-form-error");
        const btn_submit = document.getElementById("login-form-submit-btn");

        err_node.innerText = "";
        btn_submit.disabled = true;

        const data = new FormData(e.target);
        let response;
        try {
          response = await fetch("/api/login", {
            method: "POST",
            body: data,
          });
        } catch (err) {
          console.debug("err");
          console.error(err);
          err_node.innerText = "An error occurred, please try again.";
          return;
        } finally {
          btn_submit.disabled = false;
        }

        if (response.status === 401) {
          err_node.innerText = "Email or password are incorrect.";
          return;
        }
        if (response.status !== 200) {
          console.error(response);
          err_node.innerText = "an error occurred, please try again.";
          return;
        }

        location.reload();
      }

      const form = document.getElementById("login-form");
      form.addEventListener("submit", login);
    </script>
  </footer>
</html>
{{ end }}
